<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='auth.css') }}">
</head>
<body>
    <h1>Home</h1>
    <form action="/home" method="POST" style="max-width:500px;margin:auto">
      <input class="input-field" type="text" placeholder="Quote" name="quote">
      <input class="input-field" type="text" placeholder="Speaker" name="speaker">
      <button type="submit" class="btn" name = "action" value="quotes">Submit</button>
    </form>
    <br>
    <form action="/home" method="POST" style="max-width:500px;margin:auto">
      <button type="submit" class="btn" name = "action" value ="signout">Sign out</button>
    </form>
    
    
</body>
</html>
