<!doctype html>
<html>
<head>
    <title>fortune teller app</title>
</head>
   
<body>
    <h1>Welcome to the Fortune teller</h1>
    <p>Discover what the future holds for you with our Fortune App. Click the link below to reveal a personalized fortune just for you!</p>
    <a href="/fortune">Tell me my fortune</a>
    <form method="post">
        <label for="fortune">type your name:</label>
        <input type="type" id="fortune"   name="fortune">
        <button type="submit">get your fortune</button>
    </form>       

        
    </form>
</body>
</html>
